*{
    box-sizing:border-box;
    font-family: 'Roboto Mono', monospace;
    /* padding:0;
    margin:0; */
    border:1px solid grey;
    text-align: center;
}
.body{
    background-color: #DDB9A3;
    color: white;
}

.bold{
    font-weight: bold;
}
.footer{
    background-image:url("/assets/footer_img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* background-attachment:fixed; */
    height: 40vh;
    

}

/* .icons{
    width: 40%;
} */

.header{
    margin: 1% auto;

}

div h1{
    font-family: 'Chelsea Market', cursive;
}

img{
    height: 10%;
    width: 30vh;
}

nav{
    padding: 1% 1%; 
}

.plan{
    background-color: #FF764E;
}

.learn{
    background-color: #5ED3EB;
    margin-left: 15%;
    margin-right: 15%;
}

.get{
    background-color: #FFCD69;
}

.plan, .learn, .get{
    border-radius: 10px ;
    color: white;
    width: 7.14%;
    padding: 5px 1px;
    display: inline-block;
}

.title{
    display: inline-block;
    margin: auto;
    width: 10%;
}

.yosemite{
    display: inline-block;
    width: 10%;
}

.profile{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: inline-block;
}
