*{
    box-sizing:border-box;
    font-family: 'Roboto Mono', monospace;
    /* padding:0;
    margin:0; */
    border:1px solid grey;
    text-align: center;
}
.body{
    background-color: #DDB9A3;
    color: white;
    margin: 2%;
}

.bold{
    font-weight: bold;
}
.footerYoshmite{
    background-image:url("/assets/footer_img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 40vh;
    margin-top: 5%;
}

.footer{
    background-color: #F9E7DC;
}

.icons p{
    max-width: 20%;
    margin: 0 auto;
}

.header{
    margin: 1% auto;

}

div h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 3rem;
}

img{
    height: 5%;
    width: 5%;
}

/* fixed spacing*/
nav{
    padding: 1% 2%; 
}

.plan{
    background-color: #FF764E;
}

.learn{
    background-color: #5ED3EB;
    margin-left: 20%;
    margin-right: 20%;
}

.get{
    background-color: #FFCD69;
}

.plan, .learn, .get{
    border-radius: 10% ;
    color: white;
    width: 7.14%;
    padding: .1% .15%;
    display: inline-block;
}

.title{
    display: inline-block;
    /* margin: auto 5%; */
    width: 50%;
    max-width: 35%;
}

.yosemite{
    display: inline-block;
    width: 20%;
}

.profile{
    border-radius: 70%;
    width: 64%;
    height: 64%;
    /* display: inline-block; */
}
