*{
    box-sizing:border-box;
    font-family: 'Roboto Mono', monospace;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid grey;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.footer{
    /* background-color: peachpuff; */
    background-image:url("/assets/footer_img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* background-attachment:fixed; */
    height: 40vh;
    

}

.header{
    /* text-align: center; */
    /* display: inline-block; */

}

div h1{
    font-family: 'Chelsea Market', cursive;
}

.plan{
    background-color: #FF764E;
    border-radius: 10px ;
    /* margin: 4 auto; */
    width: 25%;
    padding: 5px 1px;
    display: inline-block;
}

.learn{
    background-color: #5ED3EB;
    border-radius: 10px ;
    /* margin: 4 auto; */
    width: 25%;
    /* padding: 5px 1px; */
    display: inline-block;
    margin:0 3.7%;
}

.get{
    background-color: #FFCD69;
    border-radius: 10px ;
    /* margin: 4 auto; */
    /* width: 25%; */
    height: 50px;
    padding: 5px 1px;
    display: inline-block;
}

.profile{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /* width: 25%; */
}
